tests/files/xsd/complex_attributes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="person" type="PersonType"/>
    <xs:complexType name="PersonType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="role" type="xs:string" use="optional"/>
        <xs:attribute name="locked" type="xs:string" use="prohibited"/>
    </xs:complexType>
</xs:schema>