tests/files/xsd/complex_choice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="payment" type="PaymentType"/>
    <xs:complexType name="PaymentType">
        <xs:choice>
            <xs:element name="creditCard" type="xs:string"/>
            <xs:element name="paypal" type="xs:string"/>
            <xs:element name="bankTransfer" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>